.homepage{
    height: 86vh;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}
.title{
    font-weight: bold;
    color: var(--color-black);
    text-align: left;
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

.circulerbar{
    width: 30%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-bottom: 30px;
}

.columnchart{
    height: 150px;
    background-color: var(--color-white);
    border-radius: 10px;
    display: flex;
}

.worldmap{
    height: 75%;
    width: 90%;
    position: absolute;
    top: 0px;
    right: 10px;
}