.indicators{
    height: 10vh;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    background-color: var(--color-white);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.states{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}